<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            id="ShowTextAttr.decorator1"
            label="label">
      </decorator>



      <decorator
            adaptable="true"
            class="org.inosn7bc.showtextattr.decorators.AttrDecorator"
            id="inosn7bc.showtextattr.decorators.AttrDecorator"
            label="ShowTextAttrDecorator (Working Set)"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IFile">
            </objectClass>
         </enablement>
         <description>
            Decorates working sets with text attr for all text contained resources
         </description>
      </decorator>



   </extension>

</plugin>
